.page-header {
    text-align: center;
}

body {
    background-color: #ececec !important;
}

.main-wrapper {
    background: #fff;
    overflow: hidden;
    position: relative;
    width: 92%;
    max-width: 1740px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 24px 0 0;
    margin-bottom: 24px;
}

div.main-container {
    padding: 0 6% 120px 4%;
    margin-left: -1px;
    min-height: 500px;
    border-left: 1px solid #e9e9e9;
}

#scroll-top {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    bottom: 5%;
    right: 8%;
    cursor: pointer;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    padding: 4px;
    display: none;
    color: #ffffff;
    -webkit-transform: translateZ(0);
    transition: all .3s ease-out;
}

#scroll-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#scroll-top:before,
#scroll-top:after {
    -webkit-backface-visibility: hidden;
}

#scroll-top .anticon {
    font-size: 20px;
}