.markdown {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
}

.markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    color: #404040;
    margin: 1.6em 0 .6em;
    font-weight: 500;
    clear: both;
}

.markdown h2 {
    font-size: 22px;
}

.markdown p, .markdown pre {
    margin: 1em 0;
}

.markdown code, .markdown pre {
    background: #f7f7f7;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}

.markdown code {
    margin: 0 3px;
    padding: 1px 6px;
    border-radius: 3px;
    color: #777;
    font-size: .8rem;
    border: 1px solid #e9e9e9;
}

.markdown pre {
    border-radius: 6px;
    padding: 1em;
}

.markdown pre code {
    display: block;
    border: none;
    background: #f7f7f7;
    margin: 0;
    font-size: 13px;
    line-height: 1.7;
    color: #666;
    overflow: auto;
}

.required {
    color: #690;
}